* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  background: lightblue;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

nav {
  margin: 3rem;
}

.container {
  display: flex;
  flex-direction: row;
  place-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

textarea {
  margin-bottom: 2rem;
}

.input-group {
  margin-bottom: 1rem;
}

button {
  margin: 1rem 0.5rem 0rem 0rem;
  min-height: 25px;
  min-width: 100px;
}

input {
  width: 100%;
  height: 30px;
}

canvas {
  height: 200px;
  width: 300px;
}

.chart-container {
  width: 500px;
  /* height: 500px; */
  margin-bottom: 5rem;
}

.response {
  text-align: center;
  margin: 2rem;
  font-size: 1.4rem;
}

.response span {
  color: red;
  font-size: 1.5rem;
}
