* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 5rem;
  background: #fafafa;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Vollkorn', serif;
  margin-bottom: 1rem;
}

nav {
  margin-bottom: 3rem;
}

canvas {
  height: 200px;
  width: 300px;
}

.response span {
  color: red;
  font-size: 1.5rem;
}
