* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  padding: 2rem;
  font-family: 'Vollkorn', serif;
  background: #fafafa;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

nav {
  margin: 3rem;
}

canvas {
  height: 200px;
  width: 300px;
}

.response {
  text-align: center;
  margin: 2rem;
  font-size: 1.4rem;
}

.response span {
  color: red;
  font-size: 1.5rem;
}
