.container {
  display: flex;
  flex-direction: row;
  place-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

textarea {
  margin-left: 4rem;
}

.input-group {
  margin-bottom: 1rem;
}

button {
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  height: 35px;
  max-width: 518px;
  width: 64vw;
  margin-right: 2px;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 34px;
  margin-bottom: 1rem;
  max-width: 500px;
  padding: 0rem 0.5rem;
  width: 60vw;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-container {
  width: 500px;
  /* height: 500px; */
  margin-bottom: 5rem;
}

.illustration {
  /* height: 62vh; */
  margin: 0rem 2rem;
  justify-content: center;
}

.chart {
  margin: 3rem 1rem;
}

.response {
  text-align: center;
  margin: 1rem 2rem 3rem 2rem;
  /* font-size: 1rem; */
}

canvas {
  height: 165px;
  width: 275px;
}

.link:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.back-button {
}
