/*
---CONTAINERS---
*/

.analytics {
  top: 20vh;
  position: relative;
}

canvas {
  height: 165px;
  width: 275px;
}

.chart {
  margin: 3rem 1rem;
}

.chart-container {
  width: 500px;
  /* height: 500px; */
  margin-bottom: 5rem;
}

.container {
  display: flex;
  flex-direction: row;
  place-content: space-around;
  padding: 2rem;
  flex-wrap: wrap;
}

.illustration {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  max-height: 50vh;
}

.input-group {
  margin-bottom: 1rem;
}

.response {
  text-align: center;
  margin: 1rem 2rem 3rem 2rem;
  /* font-size: 1rem; */
}

.search {
  bottom: 10%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}

/*
---ELEMENTS---
*/

.back-button {
  margin-bottom: 3rem;
}

button {
  background: #222;
  border: 1px solid #222;
  border-radius: 3px;
  color: white;
  height: 35px;
  max-width: 518px;
  width: 64vw;
  margin-right: 2px;
}

button:hover {
  cursor: pointer;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 34px;
  margin-bottom: 1rem;
  max-width: 500px;
  padding: 0rem 0.5rem;
  width: 60vw;
}

.link:hover {
  cursor: pointer;
}

textarea {
  margin-left: 4rem;
}

/* laptops and desktops */
@media screen and (min-width: 1200px) {
  .back-button {
    margin: 2rem 0rem 8rem 0rem;
  }
}
